
* {
  box-sizing: border-box;
}

h1,h2{
  color: rgb(0, 148, 197);
  font-weight:bold;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

header {
  padding: 40px;
  background: 
  url("images/10.jpg") center;
}

nav {
  background-color: #333;
  overflow: hidden;
  
}

a{
  font-size:15px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
  margin-left: 4rem;
}

main {
  background-color: white;
  text-align: center;
}

h2 {
  padding: 20px;
}

section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

video {
  padding: 10px;
}

#study{
  margin-bottom: 40px;
}


img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}


footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
  margin-left: 4.5rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media (min-width:650px){
  nav a {
    margin-left: 4.5rem;
  }

}

@media (max-width:270px){
  section {
    min-height: 10rem;
  }
  iframe {
    height: 10rem;
  }
  .name{
    margin-left: 400px;
  }
  .study{
    margin-left: 300px;
  }
  
}

@media (max-width:650px){
  .last{
    margin-bottom: 40px;
  }
}

@media (min-width:800px){
iframe {
  height: 55vh;
  }
}