* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* To make scroll-bar appealing */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0a0a99; 
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0087ca; 
}

html {
  scroll-behavior: smooth;
}
h1,
h2 {
  color: rgb(0, 148, 197);
  font-weight: bold;
}
a {
  font-size: 15px;
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

header {
  padding: 40px;
  background: url("images/10.jpg") center;
  background-color: rgb(17, 124, 143);
}

nav {
  background-color: #333;
  overflow: hidden;
}

a {
  font-size: 15px;
}
.view {
  display: block;
  padding: 10px;
}
h3:hover {
  position: relative;
  top: -3px;
  box-shadow: 0px 4px 5px 0px #706f6f;
}
nav a:hover {
  color: white;
  background-color: rgb(32, 32, 32);
}

nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
  margin-left: 1rem;
}

main {
  background-color: white;
  text-align: center;
}

h2 {
  padding: 20px;
}

section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

video {
  padding: 10px;
}

#study {
  margin-bottom: 40px;
}

img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}
 
  
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*STUDY MATERIALS*/
.study-container {
  max-width: 1300px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.study-card {
  margin: 30px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.study-card .study-base {
  height: 350px;
}
.study-card .study-base img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.study-card h3 {
  background: white;
  color: #333;
}

.study-card .study-base img:hover {
  transform: scale(1.05);
}
/*!STUDY MATERIALS*/
@media (min-width: 650px) {
  nav a {
    margin-left: 1.5rem;
  }
}

@media (max-width: 270px) {
  section {
    min-height: 10rem;
  }
  iframe {
    height: 10rem;
  }
  .name {
    margin-left: 400px;
  }
  .study {
    margin-left: 300px;
  }
}

@media (max-width: 650px) {
  .last {
    margin-bottom: 40px;
  }
  /*study material for smaller screens*/
  .study-container .study-card {
    margin: 30px 0px;
  }
  .study-card .study-base {
    height: 420px;
  }
}

@media (min-width: 800px) {
  iframe {
    height: 55vh;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 1110px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 567px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

    /*footer styling*/

footer .footer-1{
  width: 100%;
  position:relative;
  bottom: 0;
  left: 0;
  background:#111;
}
footer .content{
   max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
   width: 33%;
   transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
  font-family:'Times New Roman', Times, serif;
    
}
footer .content p{
 text-align: justify;
 font-family: 'Cambria', Georgia, 'Times New Roman', serif;
}
footer .content .lower .topic{
   margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
   border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
footer .bottom a{
  color: aqua;
  }
footer a{
   transition: all 0.3s ease;
}
footer a:hover{
   color: #eb2f06;
}
@media (max-width:1100px) {
   footer .content .middle{
    padding-left: 50px;
   }
}
@media (max-width:950px){
  footer .content .box{
     width: 50%;
    }
  .content .right{
     margin-top: 40px;
    }
}
@media (max-width:560px){
  footer{
    position: relative;
    }
   footer .content .box{
     width: 100%;
     margin-top: 30px;
    }
  footer .content .middle{
    padding-left: 0;
   }
}
                                            /* FOOTER styling over here*/

                                        
 /*footer {
  background-color: #333;
  overflow: hidden;
}*/

/*footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
  margin-left: 4.5rem;
}*/

.card {
  display: inline;
}

img {
  box-shadow: 5px 3px gainsboro;
  height: 450px;
  border-radius: 15px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1400px) {
  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media screen and (max-width: 735px) {
  .card-section {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
}

