*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color:bisque;
  background-image: url(./Background.jpg);
}
.row{
  background-color: bisque;
  border-radius: 50px;
  height: 750px;
  box-shadow: 12px 12px 22px;
  
}
img{
  width: 500px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover{
  background-color: white;
  border: 1px solid;
  color: black;
}
