@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("background_image.jpg");
  background-color: #296288;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  font-family: 'Josefin Sans',
    sans-serif;
  color: #fff;
}
::placeholder {
  color: #fff;
}
a{
  color: #fff;
  text-decoration: none;
}

#login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#heading{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#subtext{
  font-size: 1.375rem;
  margin-bottom: 1rem;
}
.input_tag{
  padding: 0%;
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 1.1875rem;
  font-family: 'Josefin Sans',
    sans-serif;
}
.password-field{
  display: flex;
  margin: 0.4rem 0;
  padding: 0.4rem 0;
  align-items: center;
  border-bottom: 2px solid #296288;
}
.remem{
  font-size: 1.1rem;
}
i{
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
}
.go-back{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.home-page{
  width: 25px;
  height: 25px;
}
.go-back a i{
  font-size: 1.5rem;
  color: #296288;
}
.go-back:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #296288;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.check{
  margin-right: 0.5rem;
}
.checkboxes{
  display: flex;
  font-size: 1.2rem;
}
.btn{
  background-color: transparent;
  width: 50%;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.7rem 1rem;
  font-weight: bold;
  font-family: 'Josefin Sans',
  sans-serif;
  border: 2px solid #fff;
  border-radius: 5px;
}
.btn:hover{
 color: #296288;
 background-color: #fff;

}
.margin{
  margin: 0.8rem 0;
}
.signup_link{
  font-size: 1.375rem;
}
.signup_link a:hover{
  font-weight: bold;
}
.forgot-password{
  font-size: 1.375rem;
}

@media (max-width: 600px){
  #subtext{
    font-size: 1.5rem;
  }
  .forgot-password{
    font-size: 1.5rem;
  }
  .signup_link{
    font-size: 1.4rem;
  }
}

