
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

body{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  background: url('bg.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .6;
}
.container{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    height: 500px;
    width: 950px;
    background: linear-gradient(to right, #3a0ca3,#4cc9f0);
    background: linear-gradient(to right, #d9ed92,#184e77);
    background: linear-gradient(to right, #7ef29d,#0f68a9);
    position: relative;

}
.strip__triangle{
    position: absolute;
    right: -23px;
    top:17px;
    transform: rotate(90deg);
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;    
    border-bottom: 15px solid #cae6ff;
}

.strip{
    position: absolute;
    right: -14px;
    height: 450px;
    width: 15px;
    background-color: #cae6ff;
    border-bottom-right-radius: 5px;
}

/* Registration Box  */

.container .registration__box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 600px;
    background-color: #b7efc5;
    background-color: #cae6ff;
    border-top-left-radius:10% 50%;
    border-bottom-left-radius: 10% 50%;
}


.container .registration__box h2{
    color:#444444;
    
}

/* Registration button  */

.container .registration__box .register{
    position: absolute;
    bottom: 4rem;
    right: 3rem;
    outline: none;
    border: none;
    background-color:#0f68a9;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    width: 80px;
    height: 35px;
    cursor: pointer;
}

.container .registration__box .register:hover{
  background-color:#0e4670;

}

/* Welcome Box  */
.container .welcome__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    width: 350px;
}

.container .welcome__box .welcome__image{
    width: 300px;
    height: 200px;
}

.container .registration__box .welcome__login{
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    color: red;
}
/* Form  */

.container .registration__box .form__form{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 15px 0px ;
    display: flex;
    height: 300px;
    width: 500px;
}


.form__form > div{
    width: 45%;
    height: 90%;
}


.form_div{
    position: relative;
    height: 40px;
    margin-bottom: 0.5rem;
}
.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 1rem;
    color:  #3b3b3b;
    font-size: 14px;
    border-radius: 0.50rem;
    background-color: transparent;
}
.form_label{
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    padding: 0.25rem;
    transition: .3s ease-in-out;
    color:  #575757;
}

.form_label:hover{
    cursor: text;
}

.form_input:focus + .form_label{
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    font-size: 0.75rem;
    background-color: #cae6ff;
    color: #2c2c2c;   

}
.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label{
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    font-size: 0.75rem;
    z-index: 2;
    background-color: #cae6ff;
}

/* Radio Buttons */

#female{
    margin-left: 2rem;
}
#male,#female{
    margin-top: 1rem;
    margin-left: 2rem;
}

/* Exit */
.quiz-exit{
  position: absolute;
  bottom: 0;
  left: 1rem;
  margin: 2rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid #56a5eb;
}
.quiz-exit:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
a{
  text-decoration: none;
}
