body{
  overflow-y: hidden;
}
#highScoresList {
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
 
}

.high-score {
  font-size: 2.2rem;
  /* margin-left: 1rem; */
  font-family: Arial, Helvetica, sans-serif;
  
  
}

.high-score:hover {
  transform: scale(1.025);
  
  cursor: pointer;
}

a{
  text-decoration: none;
}
@media screen and (min-width: 250px ) and (max-width:425px){
  .high-score{
    font-size: 1.6rem;
  }
}