  
  /* These will be used for all pages  */

  #box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: auto;
  background: rgba(9, 5, 0, 0.781);
    font-family: 'Raleway';
    font-size: 2.5rem;
    margin-left:10vw;
    margin-bottom:21vh;
    margin-top: 17vh;
  }
  .quiz-section {
    --borderWidth: 10px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .quiz-section:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }

  .quiz-container {
    /* width: 100vw;
    height: 100vh; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    padding: 2rem;
   
   
  }
  .quiz-container::before{
    content: "";
    background:url("https://img.freepik.com/premium-photo/product-presentation-wooden-table-with-background-empty-bookshelf-library_172251-444.webp") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;
    z-index: -1;
    height: 100vh;
    width: 100vw;
  }

  .quiz-container > * {
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  
/* Quiz part - Home page  */

.quiz-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-color: #ffffff;
  height: 300px;
}
.quiz-svg{
  margin: 3rem;
  width: 20%;
}
.quiz-img{
 margin: 3rem;
}
.quiz-main{
  margin: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-text{
  font-size: 30px;
  margin-bottom: 2rem;
}

.quiz-main > a {
  text-decoration: none;
}
.quiz-btn{
  /* margin-left:-1rem; */
  font-size: 26px;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 2px solid black;
  margin-top: 40px;
  border-radius: 10px;
  color: black;
  background-color: burlywood;
  font-family:Arial, Helvetica, sans-serif;
  
 
}
.quiz-btn:hover {
  cursor: pointer;
  box-shadow: 0 0.7rem 1.4rem 0 burlywood;
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

.quiz-btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
h1{
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
 text-decoration: 2px solid underline;

  
}



/* FORMS */
.highscore-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#highScores{
  background-color: beige;
  opacity: 0.9;
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
}



#username {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

#username::placeholder {
  color: #aaa;
}

/* Media Query */
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  .login-box {
    padding: 40px;
  }

  .login-box h2 {
    font-size: 25px;
  }

  .login-box .user-box label {
    font-size: 14px;
  }
}
.btn-dark {
  color: #fff;
  background-color: #000000cc;
  border-color: #000000cc;
}


@media screen and (min-width: 250px) and (max-width : 425px) {
  .quiz-section{
    flex-direction: column;
    height: max-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .quiz-svg{
    width: 50%;
    margin: auto;
  }
  
  .quiz-main{
    width:90%;
    font-size: 20px;
    margin: 1rem;
    text-align: center;
  }

  .quiz-img{
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .quiz-btn{
    /* margin: auto; */
    width: 9rem;
    height:4rem;
    font-size: 20px;
  }
  h1 {
       font-size: 28px;
  }
  
}
/* 426px */

@media screen and (max-width : 768px) and (min-width : 426px) {
  .quiz-img{
    width: 120px;
    height: 120px;
    margin: 5rem auto ;
    margin-left: -1rem;
  
  }
  .quiz-btn{
    width: 160px;
    height:65px;
    font-size: 21px;
    margin-left:-40px;
  }
  .quiz-svg{
    margin:20px;
  }
 
}
@media screen and (min-width: 768px) and (max-width: 938px){
     .quiz-svg{
      width: 100px;
      margin-left: 3rem;

     }
     .quiz-img{
      width: 20%;
     }
}