  
  /* These will be used for all pages  */
  
  body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(https://img-cdn.inc.com/image/upload/images/panoramic/GettyImages-577674005_492115_zfpgiw.webp);
  
  }

/* navbar */
.navbar {
  background-color: rgba(73, 46, 13, 0.781) !important;
}

.navbar-nav li a:hover:after {
  width: 100%;
  left: 0;
 
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgb(243 243 243);
  font-weight: bold;
}

.nav-link {
  margin-left: 2rem;
}

.navbar-nav li a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 50%);
  transition-duration: 0.3s;
 
}

.navbar-light .navbar-nav .nav-link:hover {
  transition-duration: 0.3s;
  color: rgb(255 255 255 / 100%);
}

a.nav-link {
  font-size: 20px;
}
.logo-img
{
  height:3rem;
  width:3rem;
  margin-right:140px;
}


  #box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: auto;
  background: rgba(9, 5, 0, 0.781);
    font-family: 'Raleway';
    font-size: 2.5rem;
    margin-left:10vw;
    margin-bottom:21vh;
    margin-top: 17vh;
  }
  .quiz-section {
    --borderWidth: 10px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .quiz-section:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .quiz-container {
    /* width: 100vw;
    height: 100vh; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    padding: 2rem;
   
   
  }
  .quiz-container::before{
    content: "";
    background:url("https://img.freepik.com/premium-photo/product-presentation-wooden-table-with-background-empty-bookshelf-library_172251-444.webp") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;
    z-index: -1;
    height: 100vh;
    width: 100vw;
  }

  .quiz-container > * {
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  
/* Quiz part - Home page  */

.quiz-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-color: #ffffff;
  height: 300px;
}
.quiz-svg{
  margin: 3rem;
  width: 20%;
}
.quiz-img{
 margin: 3rem;
}
.quiz-main{
  margin: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-text{
  font-size: 30px;
  margin-bottom: 2rem;
}

.quiz-main > a {
  text-decoration: none;
}
.quiz-btn{
  /* margin-left:-1rem; */
  font-size: 26px;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 2px solid black;
  margin-top: 40px;
  border-radius: 10px;
  color: black;
  background-color: burlywood;
  font-family:Arial, Helvetica, sans-serif;
  
 
}
.quiz-btn:hover {
  cursor: pointer;
  box-shadow: 0 0.7rem 1.4rem 0 burlywood;
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

.quiz-btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
h1{
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
 text-decoration: 2px solid underline;

  
}



/* FORMS */
.highscore-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#highScores{
  background-color: beige;
  opacity: 0.9;
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
}



#username {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

#username::placeholder {
  color: #aaa;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #000000cc;
  color: rgb(106, 106, 106);
  box-shadow: 0px 0px 16px 2px black;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
}

footer p {
  margin: 0;
}

.icons ul {
  display: flex;
  margin: 0;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;

  /* added by ePSA-eJya */
	color: #ababab;
	text-decoration: none;
	font-size: 25px;
	flex-basis: 35%;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
	transition: transform 0.5s;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover{
	border: 1px solid #cfcccc;
  
	/* added by ePSA-eJya */
	color: #f05011;
	  transform: translateY(-6px);
	  transform: scale(1.5);
    line-height: 25px;
	  text-decoration: none;
	  font-size: 18px;
	  margin-left: 20px;
  
  }

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);

  
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 25px;
  height: 25px;
  background: #0077b5;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

/* added by ePSA-eJya */
.icons ul li:nth-child(1) a:before {
  background: #0A66C2;
}
.icons ul li:nth-child(2) a:before {
  background: black;
}
.icons ul li:nth-child(3) a:before {
  background: #00acee;
}
.icons ul li:nth-child(4) a:before {
  background: #b2071d;
}
/* Media Query */
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  .login-box {
    padding: 40px;
  }

  .login-box h2 {
    font-size: 25px;
  }

  .login-box .user-box label {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
    color: rgb(106, 106, 106);
  }

  a.nav-link {
    margin: 5px 40px;
    font-size: 18px;
  
  }
}
.btn-dark {
  color: #fff;
  background-color: #000000cc;
  border-color: #000000cc;
}

/* adding name,image,nameof book */
#donation-info {
  height: 50rem;
  width: 50rem;
  background-image: linear-gradient(to bottom right, #fda085, #fad354 );

  border-radius: 20px;
  margin: auto;
}
.donater-img {
  height: 30%;
  margin-top: 50px;
  border-radius: 100%;
}
.carousel-item-section {
  padding: 209px;
  padding-top: 104px;
  margin: auto;
}
h3 {
  color: white;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 6%;
}
h1 {
  color: white;
  font-size: 31px;
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #000000cc;
  color: rgb(106, 106, 106);
  box-shadow: 0px 0px 16px 2px black;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
  margin-top: 80px;
}

footer p {
  margin: 0;
}

.icons ul {
  display: flex;
  margin: 0;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 26px;
  font-size: 15px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 3px solid #fff;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  align-items: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0077b5;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}
.icons ul li:nth-child(3) a:before {
  background: #00acee;
}
.icons ul li:nth-child(4) a:before {
  background: #b2071d;
}
.footer-text{
  color: rgb(255, 183, 0);
  padding-right: 50px; 
}
.footer-text:hover{
  color: rgb(211, 151, 0);
  text-decoration: underline;
}



@media screen and (min-width: 250px) and (max-width : 425px) {
  .quiz-section{
    flex-direction: column;
    height: max-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .quiz-svg{
    width: 50%;
    margin: auto;
  }
  
  .quiz-main{
    width:90%;
    font-size: 20px;
    margin: 1rem;
    text-align: center;
  }

  .quiz-img{
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .quiz-btn{
    /* margin: auto; */
    width: 9rem;
    height:4rem;
    font-size: 20px;
  }
  h1 {
       font-size: 28px;
  }
  
}
/* 426px */

@media screen and (max-width : 768px) and (min-width : 426px) {
  .quiz-img{
    width: 120px;
    height: 120px;
    margin: 5rem auto ;
    margin-left: -1rem;
  
  }
  .quiz-btn{
    width: 160px;
    height:65px;
    font-size: 21px;
    margin-left:-40px;
  }
  .quiz-svg{
    margin:20px;
  }
 
}
@media screen and (min-width: 768px) and (max-width: 938px){
     .quiz-svg{
      width: 100px;
      margin-left: 3rem;

     }
     .quiz-img{
      width: 20%;
     }
}