 @import "compass/css3"; 

  .audiobook {
    margin: 40px 70px;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    width: 190px; 
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    opacity: 0.9;
    cursor: pointer;
    display: inline-block; 
    padding: 10px;
    /* background: #3590f8;  */
    border-radius: 10px; 
    /* color: #fff !important;  */
     /* text-transform: uppercase;  */
     line-height: 20px; 
     /* background-image: url(/play.png); */ 
     /* background-image: -webkit-linear-gradient(top, #5282d4, #28667d);  */
    /* background-image: -moz-linear-gradient(top, #5282d4, #28667d);  */
    /* background-image: -ms-linear-gradient(top, #5282d4, #28667d); */
   /* background-image: -o-linear-gradient(top, #5282d4, #28667d); */
   /* background-image: linear-gradient(to bottom, #5282d4, #28667d); */

   @include transition(box-shadow .25s ease); 
 }

     &:after {
        content: '';
        display: inline-block;
        color: #94a657; 
        background: #fff;
         font-family: 'FontAwesome';
        padding: 3px;
        border-radius: 50%;
        height: 20px; 
        width: 20px; 
        margin-left: 8px;
        padding-left: 4.5px;
        padding-right: 1.5px; 
     }  

    &.playing {
        &:after {
            padding: 3px;
            content: '';
        }
    } 

  .audiobook:hover, .audiobook:focus, .audiobook:active{
	opacity: 1;
    transform: scale(0.97);
    box-shadow: 0 2px #174c85; 
 } 
 #nyan-btn{
  width: 70px;
  height: 70px;

}

 