/* @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap); */
html {
  height: 60rem ;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --nav-bg:#1A2238;
  --main-bg:#45b0ee;
  --light:#FF6A3D;
}
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-shadow: none;
    background-size: cover;
    /* background: url('.//') */
    background:url('Background.webp');
    line-height:1.5em;
}
/* scroll bar design */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(77, 32, 32); */
  background: var(--nav-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #c68b59; */
  background: var(--light);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #c68b59; */
  background: var(--light);
  border: solid 2px rgb(41, 2, 10);
}


.define{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: #f2f2f2; */
}

/* .navbar-nav li a:after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #fff;
    background: var(--light);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navbar-nav li a:hover:after{
    width: 100%;
    left: 0; 
  } */
  .bg-info {
    /* background-color: #343a40 !important; */
    background-color: var(--nav-bg) !important;
    /* background-color: #0099CC !important; */
  }
  
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(243 243 243);
    font-weight: bold;
  }
  nav.navbar {
    /* margin-right: 12px !important;
    padding-right: 12px !important; */
    right: 0;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 50%);
    transition-duration: 0.3s;
    font-size: 1.1rem;
    margin-left: 4rem;
  }
   
  
  /* .navbar-light .navbar-nav .nav-link:hover {
    transition-duration: 0.3s;
    color: rgb(255 255 255 / 100%);
    color: var(--light);
  }
   */
  a.nav-link {
    /* To heighlight */
    color: floralwhite !important;
    /* color: black  !important; */
    font-size: 28px;
  }
  .navbar-nav li a:hover {
    margin-top: .2rem;
    border-radius: 8px;
    /* box-shadow: 3px 4px 12px black;
    color: rgb(77, 32, 32); */
    /* background: rgb(77, 32, 32); */
    background: var(--light);
    color: #ffff !important;
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-info {
    /* To make nav-bar sticky */
    position: relative;
    top: 0;
    width: 100%;
  }
  .navbar-brand{
    margin-left: 24px !important;
  }
  /* .nav-link{
    margin-left: 2rem;
  } */
  .nav-link:hover {
    color: var(--light);
  }
  
  .logo-img {
    margin-left: 40px;
    /* Width and height same to make icon look more professional */
    height: 3rem;
    width: 3rem;
  }


  .container_header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*
  .container_header input{
    width: 85%;
    border: 2px solid #656464;
    outline: none;
    border-radius: 10px;
    font-family: cursive;
    font-size: 1rem;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    color: white;
    margin-top: 15px;
    background-color: #1a2238ed;
    backdrop-filter: blur(5px);
  }
  .container_header input:focus{
    border-color: rgb(156, 155, 155);
    box-shadow: 0px 0px 15px black;
  }*/

  .container_header h1{
    color: var(--nav-bg);
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin-top: 20px;
      text-shadow: 2px 2px 8px rgba(199, 199, 199, 0.788);
  }
  
  .container_header .searchBar{
    width: 100%;
    margin-top: 15px;
    max-width: 800px;
    background-color: #1a2238ed;
    opacity: 0.9;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
    height: 50px;
    backdrop-filter: blur(5px) saturate(180%);
  }

  .container_header .searchBar input{
    background:transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    color:white;
    font-size: 18px;
  }

  .container_header .searchBar input::placeholder{
    color: white;
    text-size-adjust: 40px;
  }

  .container_header .searchBar .searchIcon{
    border: 0;
    border-radius: 50%;
    width:45px;
    height:45px;
    background:transparent;
    font-size: large;
  }

  .container_header .searchBar .searchIcon i{
    color: white;
    font-size: larger;
    cursor: pointer;
    margin: 10px;
  }

  .container_header .searchBar:focus-within {
    border-color: white;
    box-shadow: 0px 0px 15px black;
      width: 100%;
       
    }
  

  #contributors_container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: right;
    transform: translateY(100px);
    margin-bottom: 25%;
    
  }
  
  #contributors_container .contributor_div {
      max-width: 270px;
      min-height: 350px;
      width: 100%;
      padding-bottom: 15px;
      /* border: 2px solid var(--red); */
      background-color: rgba(255,255,255,0.1);
      border-top: 1px solid rgba(255,255,255,0.5);
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      color: white;
      transition: all 0.3s ease-in-out;
      box-shadow:10px 10px 15px black !important;
      backdrop-filter: blur(16px);
     
  
  }
  
   
  #contributors_container .contributor_div:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px 3px black !important;
  }
  
  #contributors_container .contributor_div h4 {
    text-shadow: 6px 6px 10px black;
  }
  #contributors_container .contributor_div p {
    margin-bottom: 5px;
    text-shadow: 6px 6px 10px black;
  
  }
  
  #contributors_container a {
    text-decoration: none;
    color: white;
    margin: 0;
    margin-right: 10px;
    border-radius: 5%;
  
  }
  
  #contributors_container img {
    height: 180px;
    width: auto;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0px 0px 16px 2px black;
               
  
  }

  .contributor_div:hover{
    cursor: pointer;
  }
  /* footer */
/* footer {
    position: relative;
    width: 100%;
    background-color: rgb(52, 58, 64);
    background-color: var(--nav-bg);
    color: white;
    color: var(--light);
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 16px 9px;
    padding: 15px 0px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    color: white;
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem 0.2rem;
    gap: 0.3rem;
  }
   */
  /* .footer-wrapper .icons ul{
    display: flex;
    flex-direction: column !important;
  }
  .footer-wrapper .icons ul li{
    margin: 7px;
  }
  .footer-wrapper .icons ul li a{
    font-size: 20px;
  }
  .footer-wrapper .icons ul li .fab{
    font-size: 20px;
  } */
  footer {
    position: relative;
    width: 100%;
    
    background-color: #6f4e37e8 !important;
    backdrop-filter: blur(4px);

  }
  footer p {
    margin: 0;
  }
  .footer-col{
    display: flex;
    margin-top: 1.25rem;
  }

  .footer-col ul {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0px;
    /* color:rgb(255, 255, 255); */
    
  }

  .footer-col ul li a {
    text-decoration: none;
    opacity: 0.8 
  }
  .footer-col ul li a:hover{
    text-decoration: underline;
   }

  .footer-col ul li {
    display: inline-block;
    text-align: left;
    padding: 0px 50px 0 0;
    padding-top: 10px;
    
  }

  
  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem 0;
    gap: 0.3rem;
  }
  .footer-wrapper h1{
    text-align: center;
  }
  .footer-col-address{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    /* margin-right: 1rem; */
  }
  .footer-col-address div{
    margin-top:7px;
    margin-bottom: 7px;
  }
  /* .footer-wrapper .icons{
    position: relative;
    top: -10px;
  }
  .footer-wrapper .icons ul li a{
    width: 35px;
    height: 35px;
    font-size: 1.375rem;
    padding-top: 6px;
    border:none;
  } */

  #topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  #topBtn a:hover {
    background: #F0FFC2;
    transform-origin: center center;
  }
  
  #topBtn a span:hover {
    background: #ca995d;
    color: #362706;
    transform-origin: center center;
  }
  
  #topBtn a {
    display: block;
    text-align: center;
    height: 40px;
    width: 38px;
    background: #9D5C0D;
    border-radius: 15px;
    cursor: pointer;
  }
  
  #topBtn a span {
    color: #EEEEEE;
    width: 38px;
    border-radius: 15px;
    line-height: 39px;
    text-decoration: none;
    font-size: 32px;
  }
  .icons ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .icons ul li {
    list-style: none;
   
  }
  
  .icons ul li a {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    margin: 0 0 0 20px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    border: 3px solid #fff;
  }
  
  .icons ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
  }
  
  .icons ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .icons ul li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #55acee;
    transition: 0.5s;
    z-index: 2;
  }
  
  .icons ul li a:hover:before {
    top: 0;
  }
  
  .icons ul li:nth-child(2) a:before {
    background: black;
  }
  .icons ul li:nth-child(4) a:before {
    background: red;
  }

@media only screen and (max-width: 1200px) {
  a.nav-link {
      font-size: 17px;
  }
  
  .nav-link {
      margin-left: 1rem;
  }
  .rows {
    grid-template-columns: repeat(6,1fr);
  }
}
@media (max-width:1076px) {
  .rows {
    grid-template-columns: repeat(4,1fr);
  }
}
@media (max-width:460px){
  .footer-wrapper .container .row{
    margin-left: 100px !important;
    margin-bottom: 20px !important;
  }
}
@media (max-width: 800px) {
  footer {
      font-size: 15px;
  }
  .footer-col ul li{
    font-size: 18px;
  }

  a.nav-link {
      margin: 5px 40px;
      font-size: 18px;
  }
  .rows {
    grid-template-columns: repeat(3,1fr);
  }
  .container h1 {
    font-size: 2rem;
  }
  .footer-wrapper .footer-col-address{
   
    padding-left: 2rem;
    margin-top: 20px;
  }
  .footer-wrapper .footer-col{
    padding-left: 5rem;
  }
}
@media (max-width:520px) {
  .rows {
    grid-template-columns: repeat(2,1fr);
  }
  .container_header h1 {
    font-size: 1.5rem;

  }
  .line {
    width:250px
  }

  .footer-wrapper .footer-col-address{
    margin-top: 20px;
    padding-left: 5rem;
  }
  .footer-wrapper .footer-col{
    padding-left: 5rem;
  }
}
@media (max-width:352px) {
  .rows {
    grid-template-columns: repeat(1,1fr);
    padding-left:20%;
    gap: .6rem;
  }
  .container_header h1 {
    font-size: 1rem;
  }
  .line {
    width: 100px;
  }
  .navbar-brand{
    width: 120px;
    margin-left: 0px !important;
  }
  .navbar-toggler{
    font-size: 12px;
  }
  .footer-wrapper .footer-col-address{
    margin-top: 20px;
    padding-left: 5rem;
  }
  .footer-wrapper .footer-col{
    padding-left: 5rem;
  }
  
}