@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);
html {
  height: 60rem ;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url('../../contributors/umbrella.jpg') center center/cover;
    background-size: cover;
    
    line-height:1.5em;
   

}

.define{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: #f2f2f2; */
}

.navbar-nav li a:after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navbar-nav li a:hover:after{ 
    width: 100%;
    left: 0; 
  }
  .bg-info {
    background-color: #343a40 !important;
  }
  
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(243 243 243);
    font-weight: bold;
  }
  nav.navbar {
    /* margin-right: 12px !important;
    padding-right: 12px !important; */
    right: 0;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 50%);
    transition-duration: 0.3s;
    font-size: 1.1rem;
   
  }
  .navbar-light .navbar-nav .nav-link:hover {
    transition-duration: 0.3s;
    color: rgb(255 255 255 / 100%);
  }
  
  a.nav-link {
    /* To heighlight */
    color: floralwhite !important;
    font-size: 28px;
  }
  
  nav.navbar.navbar-expand-lg.navbar-light.bg-info {
    /* To make nav-bar sticky */
    position: relative;
    top: 0;
    width: 100%;
  }
  .nav-link{
    margin-left: 2rem;
  }
  
  .logo-img {
    margin-left: 40px;
    /* Width and height same to make icon look more professional */
    height: 3rem;
    width: 3rem;
  }
 
  .container h1{
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin-top: 20px;
  }
  .rows{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 60px;
    margin-left: 20px;
   
    
  }
  .members{
      display: flex;
      flex-direction: column;
     
    
     margin-left: 40px;
     width: 110px;
     height: 200px;
     
     
  }
  .member-name{
      text-align: center;
      border: 2px solid grey;
      border-radius: 10px;
      width: 128px;
      background: transparent;
     transition: all 0.6s;
     cursor: pointer;
      
  }
  .member-name:hover{
    background: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    font-weight: bolder;
   border: 2px solid rgb(90,90,90);
  }
 
  .member-name a{
      text-decoration: none;
      color: white;
     font-weight: 500;
      font-size: 15px;
      text-transform: capitalize;
      transition: all 0.5s;
     
  }
 
  .member-pic img{
   height: 108px;
   width: 108px;
   
    border-radius: 50%;
  }
  .member-name{
   
     margin-top: 7px;
  }
  .line{
      width: 400px;
    height: 3px;
    background: #fff;
    margin: auto;
  }
  
  
@media only screen and (max-width: 1200px) {
  a.nav-link {
      font-size: 17px;
  }
  
  .nav-link {
      margin-left: 1rem;
  }
}

@media (max-width: 800px) {
  
  
  

  
  
 

  footer {
      font-size: 12px;
  }

  a.nav-link {
      margin: 5px 40px;
      font-size: 18px;
  }

  .rows{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 10px;
    flex-wrap: wrap;
    
  }
}