#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1e6cc7
    url("https://i2.wp.com/codemyui.com/wp-content/uploads/2015/11/pure-css-bookshelf-loading-animation.gif?fit=880%2C440&ssl=1")
    no-repeat center;
  z-index: 9999;
}

.card-custom {
  border-radius: 0;
  z-index: 999;
}
.card-custom .form-control {
  border-radius: 40px;
  width: 80%;
}
/* Hover-effect added */
.card-custom .form-control:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 217, 255, 0.932);
}

.home {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  clip-path: polygon(
    84% 36%,
    82% 17%,
    100% 0,
    100% 100%,
    0 100%,
    8% 81%,
    34% 69%,
    47% 49%
  );
}

.card-custom button {
  border-radius: 0px;
  background: rgba(0, 217, 255, 0.932);
  border-radius: 0.5rem;
  font-weight: bold;
  transition-duration: 0.2s;
  /* border: none; */
}

.card-custom button:hover {
  color: rgb(29, 29, 29);
  font-weight: bold;
  transition-duration: 0.2s;
  background-color: rgb(192, 192, 192);
}
.container {
  position: absolute;
  /* bottom: 0; */
  background: rgb(0, 0, 0); /*Fallback color */
  background: rgba(255, 255, 255, 0.7); /* Black background with 0.5 opacity */
  color: #000000;
  width: 100%;
  padding: 20px;
  align-self: center;
}

/* scroll bar design */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(44, 24, 24);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(219, 16, 56);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 43, 8);
  border: solid 2px rgb(41, 2, 10);
}
/* scroll bar end */



/* For making responsive */

@media (max-width:768px) {
  .container{
    margin-left: -1.26rem;
  }
}