@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* scroll bar design */
/* width */
::-webkit-scrollbar { 
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(77, 32, 32);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c68b59;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c68b59;
  border: solid 2px rgb(41, 2, 10);
}

/* particle.js */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* reset universal */
/* * {
  margin: 0;
  padding: 0;
} */

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url(https://img-cdn.inc.com/image/upload/images/panoramic/GettyImages-577674005_492115_zfpgiw.webp);

}

.wrapper {
  position: relative;
  width: 55%;
  margin: auto;
  z-index: 1;
  opacity: 1;
}

.login-box {
  padding: 60px;
  background: rgba(9, 5, 0, 0.781);
  background-repeat:no-repeat;
  object-fit: cover;
  opacity: 3;
  border-radius: 20px;
  transition-duration: 0.5s;
  margin: 60px 0;
}

.login-box h2 {
 
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  margin: 20px 0 53px 0;
  color: #fff;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 16px;
}

.login-box .user-box input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input.form__input:focus~label,
.login-box .user-box input.form__input:valid~label {
  top: -20px;
  left: 0;
  color: white;
  font-size: 12px;
  padding: 0px;
}

/* Buttons */

.submit-btn {
  background: #cca300;
  background-image: -webkit-linear-gradient(top, #cca300, #cca300);
  background-image: -moz-linear-gradient(top, #cca300, #cca300);
  background-image: -ms-linear-gradient(top, #cca300, #cca300);
  background-image: -o-linear-gradient(top, #cca300, #cca300);
  background-image: linear-gradient(to bottom, #cca300, #cca300);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #000000;
  font-size: 16px;
  padding: 5px 25px 5px 25px;
  margin: 30px 20px 0px 0px;
  text-decoration: none;
  border: solid 3px #cca300;
}
.submit-btn:hover {
  background: transparent;
  color: #fff;
  border: solid 3px #cca300;
}

.reset-btn {
  background: #cca300;
  background-image: -webkit-linear-gradient(top, #cca300, #cca300);
  background-image: -moz-linear-gradient(top, #cca300, #cca300);
  background-image: -ms-linear-gradient(top, #cca300, #cca300);
  background-image: -o-linear-gradient(top, #cca300, #cca300);
  background-image: linear-gradient(to bottom, #cca300, #cca300);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #000000;
  font-size: 16px;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  border: solid 3px #cca300;
}
.reset-btn:hover {
  background: transparent;
  color: #fff;
  border: solid 3px #cca300;
}

input.form-control {
  padding: 1rem;
  border-radius: 0px;
}

.form-control {
  margin-bottom: 0.5rem;
  background: transparent;
  color: #fff !important;
}

.form-control:focus {
  box-shadow: none;
  background: transparent;
}

select.form-control:focus {
  color: black !important;
}

.form-check {
  padding: 0;
  display: flex;
  align-items: center;
}

.form-check p {
  margin: 8px;
}

.form-checkbox {
  width: 4%;
  margin: 0rem;
  margin-right: 0.5rem;
  position: unset;
  display: unset;
}

.form-check-label {
  color: #fff;
}

.form-check-link {
  display: inline-block;
  margin-left: 0.2rem;
  color: rgb(175, 215, 253);
  cursor: pointer;
  text-decoration: underline !important;
}

.form-check-link:hover {
  color: #e8e8e8 !important;
}

/* navbar */
.navbar {
  background-color: rgba(73, 46, 13, 0.781) !important;
}

.navbar-nav li a:hover:after {
  width: 100%;
  left: 0;
 
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgb(243 243 243);
  font-weight: bold;
}

.nav-link {
  margin-left: 2rem;
}

.navbar-nav li a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 50%);
  transition-duration: 0.3s;
 
}

.navbar-light .navbar-nav .nav-link:hover {
  transition-duration: 0.3s;
  color: rgb(255 255 255 / 100%);
}

a.nav-link {
  font-size: 20px;
}
.logo-img
{
  height:3rem;
  width:3rem;
  margin-right:140px;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

#topBtn a:hover {
  background: #F0FFC2;
  transform-origin: center center;
}

#topBtn a span:hover {
  background: #ca995d;
  color: #362706;
  transform-origin: center center;
}

#topBtn a {
  display: block;
  text-align: center;
  height: 40px;
  width: 38px;
  background: #9D5C0D;
  border-radius: 15px;
  cursor: pointer;
}

#topBtn a span {
  color: #EEEEEE;
  width: 38px;
  border-radius: 15px;
  line-height: 39px;
  text-decoration: none;
  font-size: 32px;
}


#donation_form .user-box small
{
  visibility: hidden;
}

#donation_form user-box.success input
{
	border-color: #2ecc71;
	border-width: 1.5px;
}
#donation_form user-box.success select
{
	border-bottom-color: #2ecc71;
	border-width: 1.5px;
	padding-bottom: 0px;
	padding-top: 2px;

}
#donation_form .user-box.error input
{
	border-color: #e74c3c;
	border-width: 1.5px;
}
#donation_form .user-box.error select
{
	border-bottom-color: #e74c3c;
	border-width: 1.5px;
	padding-bottom: 0px;
	padding-top: 2px;
}
#donation_form .user-box.error textarea
{
	border-bottom-color: #e74c3c;
	border-width: 1.5px;
	padding-bottom: 0px;
	padding-top: 2px;
}
#donation_form .user-box.error small{
	color:#ff1c04;
	visibility: visible;
	padding-left: 3px;
  font-size: 16px;
  font-weight: 500;
  }



/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #000000cc;
  color: rgb(106, 106, 106);
  box-shadow: 0px 0px 16px 2px black;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
}

footer p {
  margin: 0;
}

.icons ul {
  display: flex;
  margin: 0;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;

  /* added by ePSA-eJya */
	color: #ababab;
	text-decoration: none;
	font-size: 25px;
	flex-basis: 35%;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
	transition: transform 0.5s;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover{
	border: 1px solid #cfcccc;
  
	/* added by ePSA-eJya */
	color: #f05011;
	  transform: translateY(-6px);
	  transform: scale(1.5);
    line-height: 25px;
	  text-decoration: none;
	  font-size: 18px;
	  margin-left: 20px;
  
  }

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);

  
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 25px;
  height: 25px;
  background: #0077b5;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

/* added by ePSA-eJya */
.icons ul li:nth-child(1) a:before {
  background: #0A66C2;
}
.icons ul li:nth-child(2) a:before {
  background: black;
}
.icons ul li:nth-child(3) a:before {
  background: #00acee;
}
.icons ul li:nth-child(4) a:before {
  background: #b2071d;
}
/* Media Query */
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  .login-box {
    padding: 40px;
  }

  .login-box h2 {
    font-size: 25px;
  }

  .login-box .user-box label {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
    color: rgb(106, 106, 106);
  }

  a.nav-link {
    margin: 5px 40px;
    font-size: 18px;
  
  }
}
.btn-dark {
  color: #fff;
  background-color: #000000cc;
  border-color: #000000cc;
}

/* adding name,image,nameof book */
#donation-info {
  height: 50rem;
  width: 50rem;
  background-image: linear-gradient(to bottom right, #fda085, #fad354 );

  border-radius: 20px;
  margin: auto;
}
.donater-img {
  height: 30%;
  margin-top: 50px;
  border-radius: 100%;
}
.carousel-item-section {
  padding: 209px;
  padding-top: 104px;
  margin: auto;
}
h3 {
  color: white;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 6%;
}
h1 {
  color: white;
  font-size: 31px;
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #000000cc;
  color: rgb(106, 106, 106);
  box-shadow: 0px 0px 16px 2px black;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
  margin-top: 80px;
}

footer p {
  margin: 0;
}

.icons ul {
  display: flex;
  margin: 0;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 26px;
  font-size: 15px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 3px solid #fff;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  align-items: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0077b5;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}
.icons ul li:nth-child(3) a:before {
  background: #00acee;
}
.icons ul li:nth-child(4) a:before {
  background: #b2071d;
}
.footer-text{
  color: rgb(255, 183, 0);
  padding-right: 50px; 
}
.footer-text:hover{
  color: rgb(211, 151, 0);
  text-decoration: underline;
}
/* Media Query */
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  .login-box {
    padding: 40px;
  }

  .login-box h2 {
    font-size: 25px;
  }

  .login-box .user-box label {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
    color: rgb(106, 106, 106);
  }

  a.nav-link {
    margin: 5px 40px;
    font-size: 18px;
  }

  /* donate-sec */
  #donation-info {
    width: 90%;
  }
  .carousel-item-section {
    padding: 20px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 20%;
  }
  h3 {
    font-size: 14px;
  }
  .donater-img {
    padding: 0% 20%;
  }
}
.btn-dark {
  color: #fff;
  background-color: #000000cc;
  border-color: #000000cc;
}



@media (max-width: 767px) {
  #searchForm {
    margin: 0px 20px 0px 20px;
  }

  footer{
    padding: 12px 8px 12px 8px;
  }

  .icons ul {
    padding-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .form-check-label {
    font-size: 0.8rem;
  }
  .form-checkbox {
    width: 15%;
  }
}