@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
html {
  height: 60rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(86, 45, 211);
}

.login-box {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 650px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.871);
  box-sizing: border-box;
  box-shadow: 10px 10px rgba(255, 183, 0, 0.845);
  border-radius: 20px;
  transition-duration: 0.5s;
  margin-bottom: 100px;
}

.login-box h2 {
  margin: 0 0 10px;
  padding: 0;
  color: rgb(255, 183, 0);
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  margin: 3rem 0rem 3rem 0rem;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(255, 183, 0);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(255, 183, 0);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s;
  margin-top: 4.2rem;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: rgb(75, 26, 222);
  color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4; */
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(255, 183, 0));
  animation: btn-anim1 2s linear infinite;
}
*/ .login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(255, 183, 0));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 2.2s;
}

.login-box:hover {
  transition-duration: 0.4s;
  box-shadow: 0px 0px 19px 11px rgb(255, 183, 0);
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(255, 183, 0));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 2.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(255, 183, 0));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 2.7s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* scroll bar design */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(77, 32, 32);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c68b59;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c68b59;
  border: solid 2px rgb(41, 2, 10);
}
/* scroll bar end */

@media only screen and (max-width: 1100px) {
  .login-box {
    width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .login-box {
    top: 90%;
    width: 80%;
  }
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  margin-top: 1rem;
}
<<<<<<< HEAD



.navbar-nav li a:after{
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0
}
.navbar-nav li a:hover:after{ 
  width: 100%;
  left: 0; 
}
.bg-info {
  /*   background-color: #2e2e2e!important;
  box-shadow: 0px 0px 16px 9px black; */
  background-color: #343a40 !important;
  box-shadow: 0px 0px 16px 9px black;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(243 243 243);
  font-weight: bold;
}
nav.navbar {
  /* margin-right: 12px !important; */
  /* padding-right: 12px !important; */
  right: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 50%);
  transition-duration: 0.3s;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
  transition-duration: 0.3s;
  color: rgb(255 255 255 / 100%);
}



a.nav-link {
  /* To heighlight */
  color: floralwhite !important;
  font-size: 28px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-info {
  /* To make nav-bar sticky */
  position: relative;
  top: 0;
  width: 100%;
}
.nav-link{
  margin-left: 2rem;
}






.logo-img {
  margin-left: 40px;
  /* Width and height same to make icon look more professional */
  height: 3rem;
  width: 3rem;
}


.navbar-nav li a:after{
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-nav li a:hover:after{ 
  width: 100%;
  left: 0; 
}
.bg-info {
  /*   background-color: #2e2e2e!important;
  box-shadow: 0px 0px 16px 9px black; */
  background-color: #343a40 !important;
  box-shadow: 0px 0px 16px 9px black;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(243 243 243);
  font-weight: bold;
}
nav.navbar {
  /* margin-right: 12px !important; */
  /* padding-right: 12px !important; */
  right: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 50%);
  transition-duration: 0.3s;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
  transition-duration: 0.3s;
  color: rgb(255 255 255 / 100%);
}



a.nav-link {
  /* To heighlight */
  color: floralwhite !important;
  font-size: 28px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-info {
  /* To make nav-bar sticky */
  position: relative;
  top: 0;
  width: 100%;
}
.nav-link{
  margin-left: 2rem;
}






.logo-img {
  margin-left: 40px;
  /* Width and height same to make icon look more professional */
  height: 3rem;
  width: 3rem;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  width: 100%;
  height: 9vh;
  background-color: #343a40;
  color: white;
  box-shadow: 0px 0px 16px 9px black;
}

.icons ul {
  display: flex;
  margin-bottom: -2px;
}

.icons ul li {
  list-style: none;
  margin-top: -3px;
}

.icons ul li a {
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  margin-top: 16px;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #55acee;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}
/* CopyRights */
.icons ul p {
  position: absolute;
  left: 40%;
  top: 20px;
}
.ml-auto{
  margin-top: 13px;
  font-size:20px;;
}
