* {
  font-family: 'Playfair Display', serif;
}
nav.navbar {
  /* margin-right: 12px !important; */
  /* padding-right: 12px !important; */
  right: 0;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #03090f
    url("https://www.icegif.com/wp-content/uploads/loading-icegif.gif?fit=880%2C440&ssl=1")
    no-repeat center;
  z-index: 999;
}
.body-style {
  background-image: url("https://res.cloudinary.com/dkak37mek/image/upload/v1631569685/alfons-morales-YLSwjSy7stw-unsplash_jdnjxk.jpg?raw=true");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.9);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
    z-index: 1;
}
.bg-info {
  /*   background-color: #2e2e2e!important;
  box-shadow: 0px 0px 16px 9px black; */
  background-color: #343a40 !important;
  box-shadow: 0px 0px 16px 9px black;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(243 243 243);
  font-weight: bold;
}
/* Category */
.form-check-input {
  border-radius: 15px;
  margin-top: 10px;
  padding: 5px;
}
.container h1 {
  padding-top: 70px;
  color: rgb(255, 255, 255);
  /* font-family: "Poiret One", cursive; */
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 50%);
  transition-duration: 0.3s;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
  transition-duration: 0.3s;
  color: rgb(255 255 255 / 100%);
}
html {
  scroll-behavior: smooth;
}

.input-box {
  border: none;
  border-bottom: 1.5px solid rgba(168, 154, 154, 0.322);
  border-radius: 0px;
  transition: none;
  width: 100%;
  padding-bottom: 2px;
  border-radius: 15px;
  margin-top: 14px;
  padding-left: 10px;
}
.input-box:focus {
  outline: none;
  border-bottom: 1.5px solid yellowgreen;
  /* zoom: 1.1; */
  transform: scaleY(1.05);
}
.input-box {
  transition: border 0.5s ease-out;
  /* transition: transform 0.5s ease-out; */
}

.btn {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #5282d4;
  background-image: -webkit-linear-gradient(top, #5282d4, #28667d);
  background-image: -moz-linear-gradient(top, #5282d4, #28667d);
  background-image: -ms-linear-gradient(top, #5282d4, #28667d);
  background-image: -o-linear-gradient(top, #5282d4, #28667d);
  background-image: linear-gradient(to bottom, #5282d4, #28667d);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 2rem;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 9px blueviolet;
}

.btn-primary {
  margin-top: 4rem;
}

.btn:active {
  color: #000;
  box-shadow: 0 4px black;
}

.btn:active:after {
  background: transparent;
  animation: glowing 50s linear infinite;
  transition: opacity 0.4s ease-in-out;
}

.btn:hover:before {
  opacity: 1;
  box-shadow: 0 4px black;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5282d4;
  background-image: -webkit-linear-gradient(top, #5282d4, #28667d);
  background-image: -moz-linear-gradient(top, #5282d4, #28667d);
  background-image: -ms-linear-gradient(top, #5282d4, #28667d);
  background-image: -o-linear-gradient(top, #5282d4, #28667d);
  background-image: linear-gradient(to bottom, #5282d4, #28667d);
  left: 0;
  top: 0;
  border-radius: 10px;
  /* box-shadow: 0 4px black; */
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.space {
  margin-top: 10px;
}



footer {
  position: relative;
  width: 100%;
  height: 9vh;
  background-color: #343a40;
  color: white;
  box-shadow: 0px 0px 16px 9px black;
}
/*  */
.icons ul {
  display: flex;
  margin-top: 190px !important;
}

.icons ul li {
  list-style: none;
  margin-top: -6px;
}

.icons ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  margin-top: 15px;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #55acee;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}
/* CopyRights */
.icons ul p {
  position: absolute;
  left: 40%;
  top: 20px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: wheat;
  text-align: center;
}

#topBtn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3 ease-in-out;
}

#topBtn a {
  height: 39px;
  width: 37px;
  text-align: center;
  background: #000;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

#topBtn a span {
  color: #f2f2f2;
  line-height: 39px;
  font-size: 28px;
}

.logo-img {
  margin-left: 40px;
  /* Width and height same to make icon look more professional */
  height: 3rem;
  width: 3rem;
}

@media only screen and (max-width: 500px) {
  .icons ul p {
    position: absolute;
    left: 41.1%;
    top: 20px;
  }
}

a.nav-link {
  /* To heighlight */
  color: floralwhite !important;
  font-size: 28px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-info {
  /* To make nav-bar sticky */
  position: fixed;
  top: 0;
  width: 100%;
}

.bg-info {
  /* To make nav-bar background transparent and shadow effect */
  /*     background-color: #ada39f00!important;
    box-shadow: 0px 0px 16px 9px #efecec4d; */
  z-index: 100;
}

strong {
  /* To make text more visible */
  color: floralwhite;
  font-size: 25px;
}

.row{   /* To remove the overlapping due to responsive width change */
  display: flex;
  flex-direction: column;
}
/* Animation */

.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes bubble {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 20px;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 35px;
}

/* scroll bar design */
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(77, 32, 32);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c68b59;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #865439;
  border: solid 2px rgb(41, 2, 10);
}
/* scroll bar end */
/* preloader */
.headervdo_afterpreload {
  transition: ease-in 5s;
  opacity: 100;
}
.endpreloadopacity {
  opacity: 0;
  transition: 1s;
}
.preloader {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    #020c19 100%,
    #040c1a 80%,
    #160b1e 60%,
    #2c0e29 40%,
    #400f2f 40%,
    #511036 48%,
    #3e0f2f 56%,
    #290e26 56%,
    #100c1d 8.32%,
    #020c17 8.32%
  );
  /*to be removed*/
}
.loader {
  --background: linear-gradient(135deg, #23c4f8, #275efe);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6c7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
}
.loader:before,
.loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}
.loader:before {
  left: 4px;
}
.loader:after {
  --r: 6deg;
  right: 4px;
}
.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}
.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}
.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}
.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}
.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}
.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}
.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}
.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}
.loader div ul li:last-child {
  --o: 1;
}
.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}

@-webkit-keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%,
  100% {
    opacity: 0;
  }
  50%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%,
  100% {
    opacity: 0;
  }
  50%,
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
  65%,
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
  65%,
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 0;
  }
  80%,
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 0;
  }
  80%,
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  95%,
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  95%,
  100% {
    transform: rotateY(0deg);
  }
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}
/* preloader end */


/* For making responsive */
@media (max-width:800px){
  .body-style{
    box-shadow: none;
    padding: 1rem;
  }
  #table{
    width: 29rem;
    height: 10rem;
  }
  .body-style{
    width: 20rem;
  }
  .input-box{
    width: 15rem;
  }
  footer{
    width: 40rem;
    margin-left: -2rem;
    height: 5rem;
    margin-bottom: -2rem;
    padding: 0rem;
  }
  .nav-link{
    margin-left: 2rem;
  }
  .form-control{
    margin-left: 1.5rem;
  }
  .my-sm-0{
    margin-left: 1.5rem;
  }
}