* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dkak37mek/image/upload/v1631569685/alfons-morales-YLSwjSy7stw-unsplash_jdnjxk.webp?raw=true");
  background-size: cover;
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  background-repeat: repeat-y;
  overflow: auto;
}

/* scroll bar design */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(77, 32, 32);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c68b59;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c68b59;
  border: solid 2px rgb(41, 2, 10);
}


/* navbar */
.navbar {
  background-color: #343a40 !important;
  box-shadow: 0px 0px 16px 9px black;
}

.navbar-nav li a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0
}

.navbar-nav li a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgb(243 243 243);
  font-weight: bold;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-info {
  position: relative;
  top: 0;
  width: 100%;
}

.nav-link {
  margin-left: 2rem;
}

.logo-img {
  height: 3rem;
  width: 3rem;
}

.navbar-nav li a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav li a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 50%);
  transition-duration: 0.3s;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  transition-duration: 0.3s;
  color: rgb(255 255 255 / 100%);
}

a.nav-link {
  font-size: 20px;
}

/* Top btn */
#topBtn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3 ease-in-out;
}

#topBtn a {
  height: 39px;
  width: 37px;
  text-align: center;
  background: #000;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

#topBtn a span {
  color: #f2f2f2;
  line-height: 39px;
  font-size: 28px;
}

.form-inline {
  flex-wrap: nowrap;
}

.form-control {
  margin-left: 1.5rem;
}

.btn {
width: 45px;
height: 35px;
border: none;
outline: none;
color: #fff;
background: #5282d4;
background-image: linear-gradient(to bottom, #5282d4, #28667d);
cursor: pointer;
position: relative;
border-radius: 10px;
z-index: 0;
}

#searchTxt {
border-radius: 10px;
height: 30px;
}

.btn:before {
content: "";
background: linear-gradient(45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s linear infinite;
opacity: 0;
transition: opacity 0.4s ease-in-out;
border-radius: 10px;
box-shadow: 0 9px blueviolet;
}

.btn:active {
color: #000;
box-shadow: 0 4px black;
}

.btn:active:after {
background: transparent;
animation: glowing 50s linear infinite;
transition: opacity 0.4s ease-in-out;
}

.btn:hover:before {
opacity: 1;
box-shadow: 0 4px black;
}

.btn:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #5282d4;
background-image: linear-gradient(to bottom, #5282d4, #28667d);
left: 0;
top: 0;
border-radius: 10px;
}

@keyframes glowing {
0% {
  background-position: 0 0;
}

50% {
  background-position: 400% 0;
}

100% {
  background-position: 0 0;
}
}

/* Main Container */
.terms-container {
  width: 75%;
  margin: 100px auto 50px auto;
  background: rgba(73, 46, 13, 0.781);
  z-index: 10;
  border-radius: 10px;
}

.terms-container h1 {
  padding: 10px 0 10px 0;
  text-align: center;
  color: #f0ffff;
  font-weight: 800;
  font-size: 50px;
}

.terms-container h2 {
  text-align: center;
  padding: 30px 0 10px 0;
}

.terms-container p {
  text-align: justify;
  color: #f0ffff;
  font-weight: 500;
  font-size: 20px;
}


/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #343a40;
  color: white;
  box-shadow: 0px 0px 16px 9px black;
  padding: 15px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

.icons ul {
  display: flex;
  margin: 0;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 3px solid #fff;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #55acee;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}
.icons ul li:nth-child(4) a:before {
  background: red;
}

/* Media Query */

@media only screen and (max-width: 1200px) {
  a.nav-link {
      font-size: 17px;
  }
  
  .nav-link {
      margin-left: 1rem;
  }
}

@media (max-width: 800px) {
  .terms-container {
      width: 90%;
  }
  
  .terms-container h1 {
      font-size: 30px;
  }

  .terms-container h2 {
      font-size: 25px;
  }
  
  .terms-container p {
      font-size: 18px;
  }

  footer {
      font-size: 12px;
  }

  a.nav-link {
      margin: 5px 40px;
      font-size: 18px;
  }
}
